table inet filter {
	chain input {
		type filter hook input priority filter; policy accept;
		
		#Allow established sessions
		ct state established,related accept

		#Allow lo
		iifname "lo" accept

		#Allow 49803-SSH
		tcp dport 49803 accept

}

	chain forward {
		type filter hook forward priority filter; policy accept;
			
		# --- Generated via API ---
	        {% for rule in forward_rules %}
       		{{ rule }}
        	{% endfor %}
        	# --- End generated rules ---		

}

	chain output {
		type filter hook output priority filter; policy accept;
	}
}
table ip nat {
	chain postrouting {
		type nat hook postrouting priority srcnat; policy accept;
		oif "eth0" masquerade
	}
}
